/*
  Images div slide
*/
.title-second h2{
    color: #fff;
    font-family: montserrat;
    font-size: 30px;
    margin-top: 1rem;
    text-decoration: underline rgb(172, 25, 25);
    text-align: center;
}

.second-imgs img{
   max-height: 140px;
    
}

.second-imgs{
    margin-top: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

/*

*/
.three-section{
    margin-top: 2rem;
}

.three-title h2{
    color: #fff;

}

.three-eps{
    display: flex;
    gap: 4rem;
}
.episodio{
    position: relative;
    background-image: url("/demonSlayer/imgs/gojovstoji.png");
    width: 400px;
    height: 240px;
    border-radius: 4px;
}

.episodio1{
    position: relative;
    background-image: url("/demonSlayer/imgs/akazahashira.png");
    width: 400px;
    height: 240px;
    border-radius: 4px;
}

.episodio2{
    position: relative;
    background-image: url("/demonSlayer/imgs/narutopain.png");
    width: 400px;
    height: 240px;
    border-radius: 4px;
}

.desc{
    position: absolute;
    bottom: 0;
    margin-bottom: 2rem;
}

.desc h4 {
    color: #fff;
    font-family: montserrat;
    margin-left: 1rem;
    font-weight: 700;
}

.controls {
    position: absolute;
    bottom: 0;
}
