@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

:root{
    --color-body: #000000;
    --color-main: #F15382;
    --font-title: Pattaya;
    --font-size-h1: 70px;
    --font-size-h2: 36px;
    --font-size-p: 22px;
    --font-size-btn: 22px

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-body);
}
/* SECTION 01*/
.principal{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    font-family: var(--font-title);
    font-size: var(--font-size-h1);
    color: #fff;
}

.title span {
    color: var(--color-main);
}

.subtitle{
    font-family: montserrat;
    font-size: var(--font-size-h2);
    font-weight: 700;
    color: #fff;
}

.paragrafos{
    font-size: var(--font-size-p);
    color: #fff;
}

.btn-comprar{
    padding: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: var(--color-main);
    color: #fff;
    font-weight: 700;
    font-family: montserrat;
    font-size: var(--font-size-btn);
}

.card-obs {
    font-family: montserrat;
    font-style: italic;
    background-color: #4848484d;
    padding: 16px;
    border-radius: 8px;
    margin-top: 1rem;
    color: #fff;
}

