



* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body {
    background-color: #0C0C0C;
}

h1, h2, h3, h4, h5 {
    color: #FFFF;
}

/* Variaveis */
:root{
    --color-span: #F28AA9;
}


/* HEADER */

header{
    padding: 16px;
    text-align: center;
}

/* FIRST SECTION */

.first-text {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-text h1{
    font-family: pattaya;
    font-size: 36px;
    text-align: center;
}

.first-text h3{
    font-family: montserrat;
    font-size: 14px;
    text-align: center;
    font-weight: 600;
}

.first-text p{
    font-family: montserrat;
    color: #FFFF;
    text-align: center;
    font-size: 12px;
}

.first-text span {
    color: var(--color-span);
}

.buy{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
    border-radius: 4px;
    border: none;
    background-color: #F15382;
}

.buy a {
    color: #FFFF;
    font-family: montserrat;
    font-weight: 600;
}

.first-img{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

/* SEÇÃO SECUNDÁRIA */

.about-section h2{
    font-family: montserrat;
    font-size: 20px;
}

.about-section{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-section p {
    font-family: montserrat;
    color: #FFFF;
    font-size: 14px;
    font-weight: 300;
}

.about-section .buy{
    margin-top: 1rem;
}

.line-galeria {
    margin-top: 2rem;
    display: flex;
    gap: 4px;
}

.line-galeria img{
    width: 180px;
    height: 180px;
}

.line-galeria2 {
    margin-top: 8px;
    display: flex;
    gap: 4px;
}

.line-galeria2 img{
    width: 180px;
    height: 180px;
}

/* SLIDER*/
  .clientes {
    margin-top: 2rem;
  }
  .clientes h3{
    font-weight: 600;
    font-family: montserrat;
    text-align: center;
  }

  .clientes span {
    color: var(--color-span);
  }
  .swiper-navBtn{
    color: var(--color-span);
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color:var(--color-span);
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: var(--color-span);
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: var(--color-span);
  }
  .swiper-slide{
    display: flex;
    justify-content: center;
  }
  .swiper-slide img{
    width: 250px
  }
  
  @media screen and (max-width: 768px) {
    .slide-content{
      margin: 0 10px;
    }
    .swiper-navBtn{
      display: none;
    }
}


/* BESTS SELLERS */
.bests-sellers{
    margin-top: 1rem;
}
.bests-sellers h3 {
    font-family: montserrat;
    font-weight: 600;
    text-align: center;
    font-size: 24px;

}


.promo {
    margin-top: 2rem
}
.cards{
    display: flex;
    gap: 8px;
    margin-top: 1rem;
}

.card-promo{
    
    display: flex;
    align-items: center;
    background-color: #181818;
}

.promo-img img{
    width: 130px;
}

.promo-desc{
    padding: 16px;
}
.promo-desc h4{
    font-family: montserrat;
    font-size: 16px;
    font-weight: 600;
}

.promo-desc h5{
    font-family: montserrat;
    font-weight: 600;
    font-size: 14px;
}

.promo-desc p{
    font-family: montserrat;
    font-size: 12px;
    color: #ffff;
}

.promo-desc span{
    color: #f0413b;
    font-style: italic;
}
