@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

:root{
    --color-body: #000000;
    --color-main: #F15382;
    --font-title: Pattaya;
    --font-size-h1: 70px;
    --font-size-h2: 36px;
    --font-size-p: 18px;
    --font-size-btn: 22px

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--color-body);
}
/* SECTION 01*/
.principal{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.left-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title {
    font-family: var(--font-title);
    font-size: var(--font-size-h1);
    color: #fff;
}

.title span {
    color: var(--color-main);
}

.subtitle{
    font-family: montserrat;
    font-size: var(--font-size-h2);
    font-weight: 700;
    color: #fff;
}

.subtitle-medium{
    font-family: montserrat;
    font-size: 32px;
    font-weight: 500;
    color: #fff;
}



.paragrafos{
    font-size: var(--font-size-p);
    color: #fff;
    font-weight: 300;
    font-family: montserrat;
}

.btn-comprar{
    padding: 0px 0px 0px 10px;
    display: flex;
    align-items: center;
    width: 300px;
    justify-content: center;
    border: none;
    border-radius: 8px;
    background-color: var(--color-main);
    color: #fff;
    font-weight: 700;
    font-family: montserrat;
    font-size: var(--font-size-btn);
}

.card-obs {
    font-family: montserrat;
    font-style: italic;
    background-color: #4848484d;
    padding: 16px;
    border-radius: 8px;
    margin-top: 1rem;
    color: #fff;
}


.imgs-hero img{
    width: 275px;
}

/* section 02 */

.p1, .p2{
 
    max-width: 500px;
}


/* slide section 03*/
.reviews{
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.review-title h2{
    color: #fff;
    font-family: montserrat;
    font-weight: 600;
}

.review-title span{
    color: var(--color-main);
    text-decoration:underline;
}
.carousel-inner{
    left: 50%;
    margin-top: 18rem;
    position: absolute;
    transform: translate(-50%, -50%);
}
.carousel-item img{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-left: 13%;
    
}

#carouselExampleFade button{
    margin-top: 20rem;
}



/* SECTION MAIS PEDIDOS*/

.requests{
    margin-top: 48rem;
    position: relative;
}

.card-cook img{
    position: relative;
    max-width: 630px;
    border-radius: 6px;
}

.cook-title{
    background-color:#6C218F;
    position: absolute;
    bottom: 0;
    width: 369px;
    text-align: center;
    font-family: var(--font-title);
    
}

.cook-title h1{
    margin-top: 1rem;
    color: white;
}

.line-1{
    justify-content: center;
    gap: 1rem;
}